* {
    margin: 0px;
    padding: 0px;
    font-family: "Kode Mono", monospace;
    background-color: #f0fffd ;
    color: #00331a;
}
.wrapper {
    width: 100%;
}
*, :after, :before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

section {
    padding-top: 8rem;
    max-width: 1300px;
    margin: 0 auto;
}

.header {
    padding: 1.5rem;
    display: flex;
    gap: 700px;
    margin: 0 auto;
    align-items: center;
    position: fixed;
    z-index: 2;
    width: 100%;
    box-shadow: 0 8px 32px 0 rgba(31, 135, 74, 0.116);
    

    
}
.header .logo { 
    font-size: 20px;
    letter-spacing: 2px;
    color: #00331a;
    font-weight: 600;
    
    
    

}
.header .logo a {
    border-radius: 5px;
    padding: 5px 10px;
}

.header .logo:hover {
    color: #0c6;
    transform: scale(1.1);
    transition: ease-in-out .4s;
}


.header ul {
    display: flex;
    list-style: none;
    gap: 5rem;
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: 500;
    

}
.header a {
    text-decoration: none;
    color: #00331a;
    padding: 3px 10px;
    border-radius: 5px;
}

.nav_menu:hover {
    transform: scale(1.1);
    transition: ease-in-out .6s;
}

.header a:hover {
    color: rgb(0, 0, 0);
    transition: ease-in-out .4s;
    background-color: #0c6;
    
}

/* On screens that are 375px or less, set the background color to blue */
@media screen and (max-width: 667px) {
    .header {
    display: inline;
    width: 100%;
    border-bottom: none;
    border: solid rgba(0, 51, 26, .032);
    padding: 0;
    
    
        
        
    }

   .header .logo {
    position: absolute;
    display: block;
    font-size: 1rem;
    
   }
   .header ul {
    display: block;
    padding: 25px;
    padding-bottom: 0;
    
   }

  }

.section-intro {
    display: flex;
    align-items: center;
    gap: 80px;
    height: 80vh;
    width: 100%;
    padding-top: 1rem;
    
    
}

.section-intro .intro_image {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 150px;
      
}

.section-intro .intro_content {
    margin: 0 auto;
    margin-left: 0%;
    padding-top: 100px;
    align-items: center;
}

.section-intro .intro_image_pict {
   margin: 0 auto;
   
}

.section-intro .intro_image {
    margin: 0 auto;  
}

.section-intro .intro_content_H4 {
    font-size: 2rem;
    font-weight: 300;
}

.section-intro .intro_content_H1 {
    font-size: 2.7rem ;
    font-weight: 500;
    letter-spacing: 2px;
    text-shadow: 2px 4px 3px rgba(0,0,0,.1);
    line-height: 120% ;
}

.section-intro .h1_design {
    font-weight: 700;
    color: #0c6;
}

.section-intro .intro_icons {
    font-size: 3rem;
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
    cursor: pointer;
    border-radius: 10px;
    color: rgb(255, 255, 255);
    padding-top: 75px;
    
}


.section-intro .icons_project {
    border-radius: 10px;
    padding: 0 5px;
    background: rgba(0, 189, 0, 0.575);
    box-shadow: 0 8px 32px 0 rgba(31, 135, 95, 0.37);
    backdrop-filter: blur( 20px );
    -webkit-backdrop-filter: blur( 50px );
    border: none;
    letter-spacing: 1.5px;
    font-weight: 600;
    color: #00331a;
    
    
    
}
.section-intro .fa-brands:hover {
    color: #0c6;
    transform: scale(1.1) ;
    transition: ease-in-out .4s;
    
}

.icons_project:hover {
    background-color: #0c6;
    transform: scale(1.1) ;
    transition: ease-in-out .4s;
}

/* On screens that are 375px or less, set the background color to blue */
@media screen and (max-width: 667px) {
    .section-intro  {
        width: 100%;
        height: 100%;
        display: block;
        
    }
    .section-intro .intro_image img{
        width: 250px;
        padding: 10px 50px;
    }
    
    .section-intro .intro_content {
        display: block;
        padding: 10px 20px ;
    }
    .section-intro .intro_content_H4 {
        font-size: 1rem;
    }
    .section-intro .intro_content_H1 {
        font-size: 1.5rem;
    }
    .section-intro .intro_icons {
        padding: 10px 5px;
        margin: 0 auto;
        font-size: 2rem;
    }

}
/* On screens that are 375px or less, set the background color to blue */
@media screen and (max-width: 667px) {
    .section-feature {
        width: 100%;
        display: block;
        margin: 0;
        height: 100%;
    }
    .section-feature .featured_heading {
        padding: 10px 5px;
        font-size: 2rem;
    }
    
    .featured-item {
        width: 100%;
        display: block;
    }
    .featured-item .featured_image-container {
         
         position: absolute;
         top: 0;
         left: 0;
    }


    .featured-content {
        margin-top: 200px;
        margin-left: 20px;
        margin-right: 20px;
        

    }
    .featured-item::before {
        display: block;
        margin: 20px 0;
        
    }
    .featured-item:after {
        display: block;
        margin: 30px 0;
        
    }
   
}

.section-feature .featured_heading {
    margin-bottom: 4.1rem;
}

.section-feature .heading_2 {
    font-weight: 700;
    font-size: 2rem;
    margin: .8rem;
}

.section-feature .label {
    font-weight: 400;
    font-size: 1rem;
}

.featured-item {
    width: 100%;
    display: flex;
    position: relative;
    margin: 10rem 0;
    gap: 50px;
}


.featured-item .featured_image-container {
    width: 65%;
    padding: 2.4rem;
}

.featured-item .featured-content h2 {
    font-weight: 800;
    font-size: 3rem;
    text-shadow: 2px 4px 3px rgba(0,0,0,.1);
    margin-bottom: .8rem;
    margin-left: 0;
}

.featured-item .featured-content h5 {
    font-weight: 400;
    font-size: 2rem;
    margin-bottom: .2rem;
}

.featured-item .featured-content p{
    font-weight: 400;
}

.featured-item .content-icons {
    display: flex;
    gap: 2rem;
    
    
    
}
.featured-item .content-icons button {
    border-radius: 10px;
    padding: 0 5px;
    background: #00331a;
    box-shadow: 0 8px 32px 0 rgba(70, 139, 70, 0.37);
    backdrop-filter: blur( 50px );
    -webkit-backdrop-filter: blur( 50px );
    border: none;
    letter-spacing: 1.5px;
    font-weight: 600;
    color: white;
    z-index: 1;
   
}

.featured-item .content-icons button:hover {
    background-color: #0c6;
    transform: scale(1.1);
    transition: ease-in-out .4s;
}

.featured-item .content-icons i:hover{
    color: #0c6;
    transform: scale(1.1);
    transition: ease-in-out .4s;
    
}

.featured-item .content-icons i {
    z-index: 1;
}

.featured-item:after {
    background-color: rgba(0, 51, 26, .032);
}

.featured-item:after {
    left: 10%;
    width: 80%;
    border-radius: 2rem;
}

.featured-item:after, .featured-item::before {
    content: "";
    position: absolute;
    top: -10%;
    height: 120%;
    
    
}

.featured-item::before{
    border: 2px solid rgba(0, 51, 26, .089);
}


.featured-item::before {
    left: 9%;
    width: 82%;
    border-radius: 2rem;
    transform: rotate(-1deg);
}


/* this is for about me */
/* this is for about me */
/* this is for about me */
/* On screens that are 375px or less, set the background color to blue */
@media screen and (max-width: 667px) {
   .section-about-me {
    flex-direction: column;
    width: unset;
    padding: 10px 10px;
    
   }
   .card-about_content{
    margin-bottom: 2rem;
    width: 100%;
    margin: 0;
    padding: 0;
   }
   .card-content {
    font-size: 10px;
    width: 100%;
    margin: 0;
    padding: 0;
   }
}


.section-about-me {
    display: flex;
    align-items: center;
    gap: 2rem;
   }
.card-about_content {
    padding: 1.6rem 2.4rem;
    border-radius: 2rem;
    position: relative;
    max-width: 45%;
}
.card-about_icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-bottom: 2rem;
    font-size: 3rem;
    gap: 10px;
    
}
.section-about-me .fa-brands {
    z-index: 1;
}
.card-about_icons :hover {
    color: #0c6;
    transform: scale(1.1);
    transition: ease-in-out .4s;
}

.heading_2 {
    font-weight: 700;
    font-size: 2rem;
    text-shadow:  4px 5px rgba(0,0,0,.1);
    line-height: 110%;
    margin-bottom: .8rem;
    

}
.card_body {
    font-weight: 400;
    margin: 1.6rem 0 2.4rem;
    text-align: justify;
}


.card-about_content::after {
    left: 8%;
    width: 80%;
    border-radius: 2rem;
    background-color: rgba(0, 51, 26, .032);
   
}

.card-about_content:after, .card-about_content::before {
    content: "";
    position: absolute;
    top: -10%;
    height: 120%;
    
}

.card-about_content::before{
    border: 2px solid rgba(0, 51, 26, .089);
}


.card-about_content::before {
    left: 9%;
    width: 82%;
    border-radius: 2rem;
    transform: rotate(-1deg);
    
}
.about-me_image-sec {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2rem;
}
.image_gallery {
    overflow: hidden;
    transform: rotate(1.2deg);
    border-radius: 2rem;
    transition: all .8s ease-in-out;
    opacity: 40%;
    
}

.image_gallery:hover {
    opacity: 100%;
    transform: scale(1.4);
    transition: all .5s ease-out;
    
}
/* this is for about me */
/* this is for about me */

